h1{
	text-align: right;
}
h2{
	text-align:justify;
}
td{
	widht:500px;
}
th{
	text-align:left;
}
td{
	text-align:justify;
}
p{
	widht:300px;
	
}
p{
	text-align: right;
	text-align:left;
}
h2{
	widht:300px;
	text-align:justify;
}