.left {
  float: left;
  margin: 0 1em 1em 0;
}
img {
	float: left;
	
}

.right {
  float: right;
  margin: 0 0 1em 1em; 
}
.parent {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid black;
    text-align: justify;
}
.child {
    float: right;
    width: 100px;
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    border: 1px solid green;
}
.parent1 {
    width: 800px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid black;
    text-align: justify;
}
.child {
    float: right;
    width: 130px;
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid green;
}
.child1 {
    float: right;
    width: 130px;
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid green;
}
.parent2 {
    padding: 60px;
    border: 1px solid black;
}
.child2 {
    float: left;
    width: 100px;
    height: 50px;
    margin: 0 10px;
    text-align: center;
    border: 1px solid green;
}
.parent3 {
    padding: 60px;
    border: 1px solid black;
}
.child3 {
    float: right;
    width: 100px;
    height: 50px;
    margin: 0 10px;
    text-align: center;
    border: 1px solid green;
}
